<div *ngIf="accounts">
  <h2>{{ 'CDR.ACCOUNT.SELECTED_ACCOUNTS' | translate }}</h2>

  <mat-card-content>
    <div class="consent-box accounts">
      <div class="accounts">
        <label fxLayout="row" *ngFor="let account of selectedAccounts">
          <div fxFlex>
            <div class="account Aligner">
              <div>
                <div>{{ account.account?.Nickname }}</div>
                <div class="secondary-text account-number" *ngIf="account.account?.Account">
                  {{ (account.account?.Account)[0] | AccountNumberFormat }}
                </div>
              </div>

              <span fxFlex></span>
              <mat-icon class="check">check_circle_outline</mat-icon>
            </div>
          </div>
        </label>
      </div>
    </div>
  </mat-card-content>
</div>
