<div *ngIf="payload.finalPaymentAmount" class="final-payment-consent-box-item {{ cssClass }}">
  <span class="title">{{ payload.finalPaymentLabel | translate }}</span>
  <div class="sub-row" fxLayout="row">
    <div fxFlex>
      <div>
        <span class="title">{{ payload.finalPaymentAmountLabel | translate }}</span> <span fxFlex></span>
        {{ payload.finalPaymentAmount | AmountFormat }}
      </div>
      <div>
        <span class="title">{{ payload.finalPaymentDateLabel | translate }}</span> <span fxFlex></span>
        {{ payload.finalPaymentDate | date }}
      </div>
    </div>
  </div>
</div>
