<div *ngIf="payload.nextPaymentAmount" class="next-payment-consent-box-item {{ cssClass }}">
  <span class="title">{{ payload.nextPaymentLabel | translate }}</span>
  <div class="sub-row" fxLayout="column">
    <app-key-value-item
      [key]="payload.nextPaymentAmountLabel | translate"
      [value]="payload.nextPaymentAmount | AmountFormat"
    ></app-key-value-item>
    <app-key-value-item
      *ngIf="payload.nextPaymentDate"
      [key]="payload.nextPaymentDateLabel | translate"
      [value]="payload.nextPaymentDate | date"
    ></app-key-value-item>
    <app-key-value-item
      [key]="payload.frequencyLabel | translate"
      [value]="payload.frequency | FrequencyFormat"
    ></app-key-value-item>
  </div>
</div>
