<div *ngIf="payload.finalPaymentAmount" class="final-payment-consent-box-item {{ cssClass }}">
  <span class="title">{{ payload.finalPaymentLabel | translate }}</span>
  <div class="sub-row" fxLayout="column">
    <app-key-value-item
      [key]="payload.finalPaymentAmountLabel | translate"
      [value]="payload.finalPaymentAmount | AmountFormat"
    ></app-key-value-item>
    <app-key-value-item
      [key]="payload.finalPaymentDateLabel | translate"
      [value]="payload.finalPaymentDate | date"
    ></app-key-value-item>
  </div>
</div>
