<div *ngIf="accounts">
  <div class="title">{{ label | translate }}</div>
  <mat-card-content>
    <div class="consent-box accounts" [formGroup]="form">
      <mat-radio-group class="accounts example-radio-group" formControlName="selectedAccount">
        <label fxLayout="row" *ngFor="let account of accounts">
          <div fxFlex>
            <div class="account Aligner">
              <div>
                <div>{{ account.account?.Nickname }}</div>
                <div class="secondary-text account-number" *ngIf="account.account?.Account">
                  {{ (account.account?.Account)[0] | AccountFormat }}
                </div>
                <div *ngIf="account.balances">
                  <div class="balance" *ngFor="let balance of account.balances">{{ balance | BalanceFormat }}</div>
                </div>
              </div>

              <span fxFlex></span>
              <div class="Aligner">
                <mat-radio-button fxFlex class="Aligner-item" [value]="account.id"></mat-radio-button>
              </div>
            </div>
          </div>
        </label>
      </mat-radio-group>
    </div>
  </mat-card-content>
</div>
