<div *ngIf="payload.firstPaymentAmount" class="first-payment-consent-box-item {{ cssClass }}">
  <span class="title">{{ payload.firstPaymentLabel | translate }}</span>
  <div class="sub-row" fxLayout="row">
    <div fxFlex>
      <div>
        <span class="title">{{ payload.firstPaymentAmountLabel | translate }}</span> <span fxFlex></span>
        {{ payload.firstPaymentAmount | AmountFormat }}
      </div>
      <div>
        <span class="title">{{ payload.firstPaymentDateLabel | translate }}</span> <span fxFlex></span>
        {{ payload.firstPaymentDate | date }}
      </div>
    </div>
  </div>
</div>
