<mat-card *ngIf="response">
  <app-consent-steps #steps (stepChange)="step = $event">
    <div *ngIf="step === 0">
      <mat-card-content>
        <forgerock-customer-logo></forgerock-customer-logo>

        <form [formGroup]="form">
          <h1 [translate]="'CDR.ACCOUNT.TITLE'" [translateParams]="{ merchantName: response.aispName }"></h1>
          <app-cdr-data-recipient-info
            [name]="response.aispName"
            [img]="response.logo"
            [id]="response.clientId"
            [requestDate]="response.requestDate | forgerockDateFormat: 'Do MMM, YYYY'"
          ></app-cdr-data-recipient-info>
          <div class="divider"></div>

          <p [innerHTML]="'CDR.ACCOUNT.ACCOUNT_REQUEST' | translate: { merchantName: response.aispName }"></p>
          <h2 [translate]="'CDR.ACCOUNT.SELECT_ACCOUNT'"></h2>

          <app-account-checkbox [form]="form" [accounts]="response.accounts"></app-account-checkbox>
        </form>
      </mat-card-content>

      <mat-card-actions fxFill fxLayout="row" fxLayoutAlign="center stretch">
        <button mat-stroked-button (click)="submit(false)" fxFlex="50">{{ 'CANCEL' | translate }}</button>
        <button
          mat-raised-button
          mat-button
          color="accent"
          fxFlex="50"
          (click)="steps.next()"
          [disabled]="form.invalid || form.disabled"
        >
          {{ 'CONTINUE' | translate }}
        </button>
      </mat-card-actions>
    </div>
    <div *ngIf="step === 1">
      <button mat-button (click)="steps.previous()">
        <mat-icon>arrow_back_ios</mat-icon> {{ 'BACK' | translate }}
      </button>
      <forgerock-customer-logo></forgerock-customer-logo>
      <h1 [translate]="'CONFIRM'"></h1>
      <p
        [innerHTML]="'CDR.CONFIRM_DATA_SHARING_WITH_MERCHANT_TOP' | translate: { merchantName: response.aispName }"
      ></p>

      <app-account-selected [selected]="form.value" [accounts]="response.accounts"></app-account-selected>

      <app-cdr-consent-permissions [permissions]="response.permissions"></app-cdr-consent-permissions>
      <app-sharing-period [from]="response.fromTransaction" [to]="response.toTransaction"></app-sharing-period>

      <h3
        [innerHTML]="'CDR.CONFIRM_DATA_SHARING_WITH_MERCHANT_BOTTOM' | translate: { merchantName: response.aispName }"
      ></h3>
      <mat-card-actions fxFill fxLayout="row" fxLayoutAlign="center stretch">
        <button mat-stroked-button (click)="submit(false)" fxFlex="50">{{ 'CANCEL' | translate }}</button>
        <button mat-raised-button mat-button color="accent" fxFlex="50" (click)="submit(true)">
          {{ 'CDR.I_CONFIRM' | translate }}
        </button>
      </mat-card-actions>
    </div>
  </app-consent-steps>
</mat-card>
