@import 'mixins/breakpoints';

@mixin card-inner-box($background) {
  background-color: mat-color($background, background);
  padding: 15px;
  margin: 15px 0;
  border-radius: 5px;
}

@mixin bank-cdr-consent-dynamic-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  app-cdr-consent-dynamic {
    word-break: break-word;
    h1 {
      text-align: center;
    }
    .mat-card {
      min-width: 490px;
      padding: 30px;
      @include media-breakpoint-down('sm') {
        min-width: auto;
        padding: 16px;
      }
    }
    .divider {
      border-top-width: 1px;
      border-top-style: solid;
      border-top-color: mat-color($foreground, divider);
      margin: 20px 0;
    }
    .title {
      color: mat-color($foreground, secondary-text);
      margin-bottom: 0.9em;
    }
    app-consent-box {
      .title {
        margin: 0 0.9em 0 0;
      }
    }
    /deep/ .secondary-text {
      color: mat-color($foreground, secondary-text);
    }

    .paymentButton {
      margin: 3px;
    }

    .paymentButton > button {
      width: 100%;
    }

    .consent-box.accounts {
      padding: 0;
    }

    .accounts > label {
      border-top: solid 1px mat-color($foreground, divider);
      padding: 15px 15px;
    }

    .accounts > label:first-child {
      border-top: none;
    }

    .accounts.consent-box {
      margin: 0;
      padding: 0;
    }

    .accounts > label:hover {
      background-color: mat-color($background, hover);
    }

    app-sharing-period {
      > div {
        @include card-inner-box($background);
        h3 {
          margin-bottom: 5px;
        }
        p {
          color: mat-color($foreground, secondary-text);
        }
      }
    }

    app-cdr-consent-permissions {
      & > div {
        @include card-inner-box($background);
        & > div {
          border-top: solid 1px mat-color($foreground, divider);
          padding-top: 16px;
          &:first-child {
            border-top: 0;
            padding-top: 0;
          }
        }
      }
    }

    .Aligner {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .consent-box {
      @include card-inner-box($background);
    }

    .review-permissions {
      margin-bottom: 15px;
    }

    .review-permissions > mat-accordion:first-child > .mat-expansion-panel {
      background-color: mat-color($background, background);
    }

    .review-permissions .mat-expansion-panel .mat-expansion-panel-body {
      padding: 0;
      margin: 15px;
    }

    .mat-card-actions {
      margin-bottom: -8px;
      margin-left: 0;
      margin-right: 0;
      height: 70px !important;

      button:last-child {
        margin-right: 0;
      }
    }
  }
}
