<mat-card *ngIf="response">
  <forgerock-customer-logo></forgerock-customer-logo>

  <form [formGroup]="form">
    <h1 [translate]="'CONSENT.ACCOUNT.TITLE'" [translateParams]="{ merchantName: response.aispName }"></h1>
    <div *ngIf="response.logo" class="merchant-logo">
      <img src="{{ response.logo }}" onerror="this.style.display='none'" />
    </div>
    <div class="divider"></div>

    <span [translate]="'CONSENT.ACCOUNT.CHECK_DETAILS'"></span>

    <app-consent-box [items]="items"></app-consent-box>

    <app-account-checkbox
      [form]="form"
      [accounts]="response.accounts"
      [label]="'CONSENT.ACCOUNT.SELECT_ACCOUNT'"
    ></app-account-checkbox>

    <app-account-permissions [permissions]="response.permissions"></app-account-permissions>

    <div class="consent-expiration-date" *ngIf="response.expiredDate">
      <span
        class="title"
        [translate]="'CONSENT.ACCOUNT.EXPIRE'"
        [translateParams]="{ client: response.aispName }"
      ></span>
      {{ response.expiredDate | forgerockDateFormat: 'dddd Do MMMM, YYYY, HH:mm:ss' }}
    </div>

    <app-submit-box
      [loading]="_loading"
      [form]="form"
      [proceedLabel]="'CONSENT.ACCOUNT.PROCEED'"
      [cancelLabel]="'CONSENT.ACCOUNT.CANCEL'"
      (accept)="submit(true)"
      (deny)="submit(false)"
    ></app-submit-box>
  </form>
</mat-card>
