<div class="review-permissions">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> {{ 'CONSENT.ACCOUNT.REVIEW_DATA' | translate }} </mat-panel-title>
      </mat-expansion-panel-header>
      <pre class="review-permissions-content">
        <mat-accordion *ngIf="permissions">
          <mat-expansion-panel *ngFor="let permission of permissions" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title> {{ 'CONSENT.ACCOUNT.PERMISSIONS.' + permission | translate }} </mat-panel-title>
            </mat-expansion-panel-header>
        
            <pre>
                {{ getPermissionMock(permission) | json }}
            </pre>
          </mat-expansion-panel>
        </mat-accordion>
      </pre>
    </mat-expansion-panel>
  </mat-accordion>
</div>
