<mat-card *ngIf="response">
  <forgerock-customer-logo></forgerock-customer-logo>
  <form [formGroup]="form">
    <h1
      [translate]="'CONSENT.INTERNATIONAL-STANDING-ORDER.TITLE'"
      [translateParams]="{ merchantName: response.merchantName }"
    ></h1>
    <div *ngIf="response.logo" class="merchant-logo">
      <img src="{{ response.logo }}" onerror="this.style.display='none'" />
    </div>
    <div class="divider"></div>

    <span [translate]="'CONSENT.PAYMENT.CHECK_DETAILS'"></span>

    <app-consent-box [items]="items"></app-consent-box>

    <app-account-selection
      [form]="form"
      [accounts]="response.accounts"
      [label]="'CONSENT.PAYMENT.SELECT_ACCOUNT'"
    ></app-account-selection>

    <app-submit-box
      [loading]="_loading"
      [form]="form"
      [label]="'CONSENT.PAYMENT.PROCEED_PAYMENT'"
      [proceedLabel]="'CONSENT.ACCOUNT.PROCEED'"
      [cancelLabel]="'CONSENT.ACCOUNT.CANCEL'"
      (accept)="submit(true)"
      (deny)="submit(false)"
    ></app-submit-box>
  </form>
</mat-card>
